
.App{
  padding: 10px;
  background-color: black;
  color: white;
  height: 100vh;

}
.inputContainer{
  display: flex;
  align-items: center;
}

input{
  margin-left: 10px;
  border: none;
  text-decoration: none;
  color: white;
  background-color: black;
  outline: none;
  caret-color: white;
}
