
.App{
  padding: 20px 80px  10px 10px;  
  color: white;
  
  height: 100vh;
}

.inputContainer{
  padding: 0;
  display: flex;
  align-items: center;
}

.inputContainer input{
  
  border: none;
  text-decoration: none;
  color: white;
  background-color: black;
  outline: none;
  caret-color: white;
  font-size: 1em;
  width: 100vh;
  
}
